# Copyright (c) 2012 Consupago S.A. de C.V. SFOL.
# ALL RIGHTS RESERVED
# ESB JCo Configuration.

# CRM-SAP-QA
jco.client.ashost = cspsadcrmqa.consupago.com
jco.client.sysnr = 00
jco.client.client = 200
jco.client.user = ESBCOMM
jco.client.passwd = ESBCOMM01
jco.destination.pool_capacity = 90
jco.destination.peak_limit = 90
jco.client.lang = es
