# Copyright (c) 2012 Consupago S.A. de C.V. SFOL.
# ALL RIGHTS RESERVED
# ESB JCo Configuration.

# CRM-PRD
jco.client.ashost = 192.168.201.106
jco.client.sysnr = 11
jco.client.client = 300
jco.client.user = ESBCOMM
jco.client.passwd = ESBCOMM01
jco.destination.pool_capacity = 50
jco.destination.peak_limit = 50
jco.client.lang = es
